.wrapper {
    display: flex;
    height: 32px;
    background-color: #eaedf0;
    border: 1px solid #eaedf0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    line-height: 32px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.search-input {
    height: 32px;
    background-color: #eaedf0;
    border: 1px solid #eaedf0;
    line-height: 1.5;
    line-height: 32px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.btn-search {
    margin: 0;
    padding: 0;
    height: 100%;
}